##
## Pattern Aggregation beginning
##
## Main flow definition
##
#set( $exception_strategy = $fragment_element_label_default_choice_exception_strategy )
#set( $main_flow = "#evaluate( $fragment_container_flow_aggregation_main )" )
##
## Gather data flow definition
##
#set( $query_entities_src = $fragment_processors_processorgroup_sfdc_query_leads_src )
#set( $query_entities_dst = $fragment_processors_processorgroup_sfdc_query_leads_dst )
#set( $gather_data_flow = "#evaluate( $fragment_container_flow_gather_data )" )
##
## Format output flow definition
#set( $custom_sorting_transformer = $fragment_processors_custom_transformer_leads )
#set( $aggregation_mapping = $fragment_processors_processorgroup_csv_mapping )
#set( $format_output_flow = "#evaluate( $fragment_container_flow_format_output )" )
##
## Business Logic composition (pattern argument)
#evaluate( $fragment_pattern_aggregation_business_logic )
